<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="seek">
    <div th:each="dateToMedia : ${datesToMedia}" th:remove="tag">
        <h2 class="header" th:if="${param.date == null || (!#temporals.format(dateToMedia.key,'yyyyMMdd').equals(param.date[0].substring(0, 8)))}"><span th:text="${#temporals.format(dateToMedia.key,'EEE, dd MMM yyyy')}">[Date]</span><span
                class="location"
                th:text="${T(com.jetbrains.marcocodes.googlephotosclone.Media).locationsToString(dateToMedia.value)}">Location</span>
        </h2>

        <a th:href="${'/b/' + media.hash}" th:each="media: ${dateToMedia.value}" class="img" th:with="isLast=${dateToMediaStat.last && mediaStat.last}"
           th:attrappend="hx-include=${isLast}?'[name=\'search\']', hx-trigger=${isLast}?'revealed',hx-swap=${isLast}?'afterend',hx-get=${isLast}?${'/seek?date=' + #temporals.format(media.creationDate, 'yyyyMMddHHmmss') + '&id='+ media.id}">
            <img th:src="${'/a/' + media.hash}">
        </a>
    </div>
</div>
</body>
</html>

